<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Watch Remote for Grok</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Watch Remote reaches your computer on your private network.</string>
	<key>WatchRemoteHostLabel</key>
	<string>$(WATCHREMOTE_HOST_LABEL)</string>
	<key>WatchRemoteHostAddress</key>
	<string>$(WATCHREMOTE_HOST_ADDRESS)</string>
	<key>WatchRemoteHostUser</key>
	<string>$(WATCHREMOTE_HOST_USER)</string>
	<key>WatchRemoteHostPort</key>
	<string>$(WATCHREMOTE_HOST_PORT)</string>
</dict>
</plist>
